<div class="login-div">
    <h3>LOGIN</h2>
    <p>Enter your login credentials below</p>

    <form method="POST" class="login-form" action= "/auth/login">

        <input type="email" name="email" id="auth-email" placeholder="Email">

        <input type="password" name="password" id="auth-password" placeholder="Password">

        <input type="submit" class="login-btn" value="LOGIN">

    </form>
    <div class="new">
        <p>New here? <a href="/auth/signup">Click here to sign up!</a></p>
    </div>    
</div>    