<div class="signup-div">
    <h3>SIGN UP</h2>
    <p>Create a new account below</p>

    <form method="POST" action= "/auth/signup">
        <input type="text" name="name" id="new-name" placeholder="Name">

        <input type="email" name="email" id="new-email" placeholder="Email">

        <input type="password" name="password" id="new-password" placeholder="Password">

        <input type="submit" class="signup-btn" value="Sign Up">

    </form>
</div>       