<div class="home-grid"> 
    <% for (let i=0;i<homeArray.length; i++){ %>
        <div class="home-grid-item">
            <img src = "<%=homeArray[i].image%>">
        </div>
    <% } %>
</div>

<div class="about"> 
    <h1>about</h1>
    <p>about text</p>
</div> 
    