<div class="home-grid"> 
    <% for (let i=0;i<homeArray.length; i++){ %>
        <div class="home-grid-item">
            <a href="/recipes/<%= homeArray[i].id %>"><img class="home-img" src = "<%=homeArray[i].image%>"></a>
            <a class="home-grid-text" href="/recipes/<%= homeArray[i].id %>"><%=homeArray[i].title%></a>
        </div>
    <% } %>
</div>

<div class="about"> 
    <h1>about</h1>
    <p>about text</p>
</div> 
    