<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbook Curator</title>
    <link rel="stylesheet" href="http://localhost:<%= process.env.PORT%>/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-ul">
                <li class='nav-li'><a href="/">HOME</a></li>
                <li class='nav-li'><a href="http://localhost:<%= process.env.PORT%>#about-section">ABOUT</a></li>
                <li class='nav-li'><a href="/recipes/my-recipes">MY RECIPES</a></li>
                <li class='nav-li'><a href="/categories">CATEGORIES</a></li>
                <% if (!currentUser) { %>
                    <li class='nav-li-2'><a href="/auth/signup">SIGN UP</a></li>
                    <li class='nav-li-2'><a href="/auth/login">LOGIN</a></li>
                <% } else { %>
                    <li class='nav-li-2'><a href="/auth/logout">LOG OUT</a></li>
                    <li class='nav-li-2'><a href="/profile">PROFILE</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
        <div class="search"> 
            <form method='GET' action='/recipes'>
                <label for='recipe'></label>
                <i class="fa fa-search icon"></i> 
                <input type='text' id='recipe' class ='input-field fa fa-search icon' name='recipe'>
                <input hidden type='submit' id='submit'>
            </form>
        </div> 
        <div class="heading">
            <h1 id="app-title">Cookbook Curator</h1>
        </div>
        <hr style="width: 80%; margin-top: 50px;">     
    <%- include('partials/alerts.ejs') %>
    <div class='body'>
        <%- body %>
    </div>
</body>
</html>