<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbook Curator</title>
    <link rel="stylesheet" href="http://localhost:<%= process.env.PORT%>/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/recipes/my-recipes">MY RECIPES</a></li>
                <li><a href="/recipes/categories">CATEGORIES</a></li>
                <% if (!currentUser) { %>
                    <li><a href="/auth/signup">SIGN UP</a></li>
                    <li><a href="/auth/login">LOGIN</a></li>
                <% } else { %>
                    <li><a href="/auth/logout">LOG OUT</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
        <div class="search"> 
            <form method='GET' action='/recipes'>
                <label for='recipe'>Search for Recipe:</label>
                <input type='text' id='recipe' name='recipe'>
                <input type='submit' id='submit'>
            </form>
        </div> 
        <div class="heading">
            <h1>App Title</h1>
        </div>     
    <%- include('partials/alerts.ejs') %>
    <%- body %>
</body>
</html>