<h1> Favorites:</h1>

<div class='grid3'> 
    <% recipes.forEach(recipe=>{ %>
        <div class='grid-item'>
            <img src = "<%=recipe.img_url%>">
            <p><%=recipe.name%></p>
        </div>
    <% }) %>
</div>