@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Slab:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.alert{
    margin-top: 20px;
    text-align: center;
}

.heading { 
    grid-area: 2 / 1 / 3 / 7; 
    text-align: center;
    margin-top: 70px;
    width: 100%;
} 
#app-title{
    font-family: 'Rock Salt', cursive;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0px;
    color: black;
}

nav{
    background: #8bc34a;
    margin-top:0;
}

.nav-ul {
    list-style-type: none;
    margin: 0;

    padding: 0;
    overflow: hidden;
}
  
.nav-li {
    float: left;
}

.nav-li-2 {
    float: right;
    margin-right: 10px;
}

li a:hover {
    color: green;
}

li a{
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
}

.search { 
    grid-area: 1 / 1 / 2 / 7; 
    text-align: right;
    padding-top: 10px;
    padding-right: 15px;
    position: relative;
    float: right;
    font-family: 'Poppins', sans-serif;
} 

.input-icons i { 
    position: absolute; 
    margin-top: 1px;
}

.input-field{ 
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    height: 30px;
    width: 250px;
    padding-left:25px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

.about { 
    text-align:center;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    font-weight: 200;
    height: 300px;
    margin-top: 50px;
    margin: auto;
} 

.about h1{ 
    color: #f4b804;
    font-size: 40px
}    

.grid-item{
    order: 0;
    flex: 0 0 21%;
    align-self: auto;
    margin: 30px auto 30px auto;
    width: 556px;
    height: 370px;
    position: relative;
    text-align: center;
    background: black;
}

.home-grid, .grid3, .categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 80%;
}

.home-grid-item{
    order: 0;
    flex: 0 0 28%;
    align-self: auto;
    margin: 30px auto 30px auto;
    width: 556px;
    height: 370px;
    position: relative;
    text-align: center;
    background: black;
}  

.home-img{
    object-fit: cover;
    opacity: 0.4;
    width: 556px;
    height: 370px;
}

.home-grid-text, .grid-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none !important;
    font-size: 40px;
    color: white;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    width: 500px;
}

#more-btn{
    background: #f4b804;
    width: 150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 40px;
    padding: 10px;
    color: white;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    position: absolute;
    left: 50%;
    margin-left: -15%;
    margin-bottom: -5%;
    bottom:0px;
}

#more-btn:hover{
    background: #fda50f;
}    

.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    height: 425px;
    margin: auto;
}

.category-item{
    background: black;
    order: 0;
    flex: 0 0 12%;
    align-self: auto;
    margin: 10px auto 40px auto;
    position: relative;
    text-align: center;
    height: 425px;
}

#category-div{
    margin-bottom: 100px;
}

.cat-img{
    width: 285px;
    height: 425px;
    object-fit: cover;
    opacity: 0.4;
}

.cat-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none !important;
    font-size: 40px;
    color: white;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

#categories{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.recipe-title, .cb-title{
    text-align: center;
    color: #f4b804;
    text-transform: uppercase;
    width: 70%;
    margin: 30px auto 10px auto;
    font-size: 40px;
    line-height: 1.2;
}

.recipe-container{
    display: grid; 
    grid-template-columns: 1.8fr 0.9fr 1.05fr; 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 2px;
    grid-row-gap: 0px;  
    margin-top: 20px;
}

.recipe-img{
    grid-area: 1 / 1 / 6 / 2;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #f4b804;
}

#ingredients{
    grid-area: 1 / 2 / 6 / 3; 
    margin: 0px;
}

#instructions{
    grid-area: 1 / 3 / 6 / 4; 
    margin-top: 0px;
    margin-right: 35px;
}

#ingredients h3, #instructions h3, .comments h3{
    margin-top: 0;
    color: #8bc34a;
    text-transform: uppercase;
    font-size: 25px;
}

.fav-img{
    width: 556px;
    height: 370px;
    object-fit: cover;
    opacity: 0.4;
}

span{
    float:right;
    margin: 10px;
    font-weight: bolder;
    margin-right: 20px;
}

#add-btn{
    border-radius: 50%;
    background: #8bc34a;
    font-size: 25px;
    font-weight: bold;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}

#add-btn:hover{
    background: green;
    margin-left: 10px;
}

.comments, .comment-content{
    width: 80%;
    margin: 0px auto 50px auto;
}

.all-comments{
    margin-top: 20px;
    margin-bottom: 50px;
}

.login-form{
    margin-top: 20px;
}

#com-content{
    border-radius: 5px;
    width: 90%;
    height: 100px;
    border: 1px solid grey;
}

#com-name{
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    border: 1px solid grey;
}

#submit, .login-btn, .signup-btn{
    background: #8bc34a;
    width: 150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

#submit-edit{
    background: #8bc34a;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    padding: 5px;
    color: white;
    font-weight: bolder;
}

#submit:hover, .login-btn:hover, .signup-btn:hover, #submit-edit:hover{
    background: #4caf50;
}

.login-div, .signup-div{
    border: 3px solid #f4b804;
    width: 50%;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    height: 500px;
    text-align: center;
    position:relative;
}

.login-div h3, .signup-div h3{
    color: #4caf50;
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 10px;
}

#auth-email, #auth-password, #new-password, #new-email{
    display: block;
    margin: 20px auto 20px auto;
    font-family: 'Poppins', sans-serif;
}

#auth-email:hover, #auth-email:focus,#auth-password:hover,#auth-password:focus, #new-password:hover,#new-password:focus, #new-name:hover,#new-name:focus, #new-email:hover,#new-email:focus{
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

input[type="email"],input[type="password"],input[id="new-name"] {
    width: 40%;
    margin: 12px 24px;
    padding: 12px 24px;
    text-transform: uppercase;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.new{
    position: absolute;
    left: 50%;
    margin-left: -10%;
    bottom:0px;
}

.com-icon{
    margin-right: 15px;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#edit-name, #edit-content{
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    border: 1px solid lightgray;
}

#edit-content{
    width: 400px;
}

#delete{
    background: red;
    width: 125px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    padding: 5px;
    color: white;
    font-weight: bolder;
}

#delete:hover, #deleteFrom-btn:hover{
    background: #BF0000;
}

#edit-btn{
    background: #f4b804;
    width: 125px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    padding: 5px;
    color: white;
    font-weight: bolder;
}

#edit-btn:hover{
    background: #b38600;
}  
.addTo-btn{
    position: absolute;
    top:0;
    right:0;
    margin-right: -10px;
    margin-top: -15px;
}

#addTo-btn{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bolder;
    background: #4caf50;
    cursor: pointer;
    color: white;
}

#addTo-btn:hover, #view-add-btn:hover{
    background: green;
}    

#view-add-btn{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bolder;
    background: #4caf50;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

#deleteFrom-btn{
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    background: red;
    cursor: pointer;
    color: white;
}

#my-book-grid{
    margin-bottom: 75px;
}

.ref-link{
    margin: auto;
    color: grey;
    text-align: center;
}

.ref-link:hover{
    color: darkslategray;
    text-align: center;
}

#cat-more-btn{
    background: #f4b804;
    width: 150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 40px;
    padding: 10px;
    color: white;
    font-weight: bolder;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    position: absolute;
    left: 50%;
    margin-left: -30%;
    margin-bottom: -7%;
    bottom:0px;
}

#cat-more-btn:hover{
    background: #fda50f;
}    

.alert{
    text-align: center;
}

#pers-ingredients, #pers-instructions{
    padding: 20px;
    border: 0.5px solid grey;
    margin: 20px;
    border-radius: 10px;
}

.new-recipe-div{
    border: 3px solid #f4b804;
    width: 70%;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    position:relative;
    align-content: center;
    text-align: center;
}

.recipe-form{
    display: block;
    margin: 20px auto 20px auto;
    font-family: 'Poppins', sans-serif;
}

input[id="recipe-name"],input[id="recipe-img_url"]{
    width: 60%;
    margin: 12px auto 12px auto;
    padding: 12px 24px;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 10px;
    border: 1px solid #575756;
    backface-visibility: hidden;
}

.form-title{
    font-size: 20px;
    color: #4caf50;
    font-weight: bolder;
}

.new-recipe-btn{
    background: #8bc34a;
    width: 250px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.ins-list, .ing-list{
    color: rgb(168, 168, 168);
}

.ingredients-form, .instructions-form{
    height: 200px;
    width: 60%;
    background-color: transparent;
    font-size: 14px;
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 10px;
    border: 1px solid #575756;
    backface-visibility: hidden;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
}

#view-edit-btn{
    width: 150px;
    height: 20px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bolder;
    background: #f4b804;
    cursor: pointer;
    color: white;
    margin-right: 20px; 
    float: right;  
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#view-edit-btn:hover{
    background: rgb(223,163,87);
}    