<h1 class="cb-title"> MEAL CATEGORIES</h1>
<p style="text-align:center; margin-bottom: 30px; font-size: 20px; font-weight: 200;">See recipes based on meal type!</p>
<div class="categories" id="category-div">
    <div class='category-item'>
        <img src = "https://www.cookingclassy.com/wp-content/uploads/2019/08/breakfast-burrito-01.jpg" class="cat-img">
        <a class="cat-text" href="/categories/breakfast">Breakfast</a>
        <a href="/categories/breakfast" class="btn btn-primary" id="cat-more-btn" type="submit">CHECK IT OUT!</a>
    </div>
    <div class='category-item'>
        <img src = "https://www.dinneratthezoo.com/wp-content/uploads/2019/02/salmon-salad-5.jpg" class="cat-img">
        <a class="cat-text" href="/categories/lunch">Lunch</a>
        <a href="/categories/lunch" class="btn btn-primary" id="cat-more-btn" type="submit">CHECK IT OUT!</a>
    </div>
    <div class='category-item'>
        <img src = "https://cafedelites.com/wp-content/uploads/2018/06/Garlic-Herb-Butter-Steak-With-Shrimp-IMAGE-24.jpg" class="cat-img">
        <a class="cat-text" href="/categories/dinner">Dinner</a>
        <a href="/categories/dinner" class="btn btn-primary" id="cat-more-btn" type="submit">CHECK IT OUT!</a>
    </div>
    <div class='category-item'>
        <img src = "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-oreo-truffles-078-1544222424.jpg"class="cat-img">
        <a class="cat-text" href="/categories/dessert">Dessert</a>
        <a href="/categories/dinner" class="btn btn-primary" id="cat-more-btn" type="submit">CHECK IT OUT!</a>
    </div>
</div>