<h1 id="categories">categories page</h1>
<div class="categories">
    <div class='category-item'>
        <a href="/recipes/categories/breakfast"><span class="img-overlay"></span></a>
        <a href="/recipes/categories/breakfast"><img src = "https://www.cookingclassy.com/wp-content/uploads/2019/08/breakfast-burrito-01.jpg" class="cat-img"></a>
        <a class="cat-text" href="/recipes/categories/breakfast">Breakfast</a>
    </div>
    <div class='category-item'>
        <a href="/recipes/categories/lunch"><span class="img-overlay"></span></a>
        <img src = "https://www.dinneratthezoo.com/wp-content/uploads/2019/02/salmon-salad-5.jpg" class="cat-img">
        <a class="cat-text" href="/recipes/categories/lunch">Lunch</a>
    </div>
    <div class='category-item'>
        <a href="/recipes/categories/dinner"><span class="img-overlay"></span></a>
        <img src = "https://cafedelites.com/wp-content/uploads/2018/06/Garlic-Herb-Butter-Steak-With-Shrimp-IMAGE-24.jpg" class="cat-img">
        <a class="cat-text" href="/recipes/categories/dinner">Dinner</a>
    </div>
    <div class='category-item'>
        <a href="/recipes/categories/dessert"><span class="img-overlay"></span></a>
        <img src = "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-oreo-truffles-078-1544222424.jpg"class="cat-img">
        <a class="cat-text" href="/recipes/categories/dessert">Dessert</a>
    </div>
</div>